<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="content-type" content="text/html" />
	<meta name="author" content="gencyolcu" />
    <!-- Stylesheet-Links -->
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <!--fontawesome-->
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
    <!-- Main Style-->
    <link rel="stylesheet" type="text/css" href="css/chat.css" />
    
    <!-- JavaScript -->
    <!--jQuery-->
    <script type="text/javascript" src="js/jQuery.js"></script>
    <!-- Bootstrap -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>    
    <!-- Main -->
    <script type="text/javascript" src="js/main.js"></script>
    
	<title>Index</title>
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">
                <img src="images/logo.png"/>
                <p>Challent</p>
                <span>CHALLENGE THE WORLD</span>
            </a>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="home.html"><img width="20px" src="images/Home.png"/>Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><img width="22px" src="images/cat.png"/>Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><img width="20.33px" src="images/Notification.png"/>Notification</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#"><img width="24.34px" src="images/messages.png"/>Messages</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <img id="currentchallenge" src="images/currentchallenge - timer.png" />
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <img id="NavBarProPic" width="27.5px" height="27.5px" src="images/profile.jpg" />
                    <input type="button" name="" value="Start"/>
                </form>
          </div>
</nav>
    </header>

    <article>
        <section class="chat">
        
        <div class="row">
            <div class="col-md-3">
                <div class="user-search">
                <div class="form-group">
                     <!--<i class="fa fa-search fa-lg" aria-hidden="true"></i>-->
                    <input type="text" class="form-control search" placeholder="Search">
                </div>
                    </div>
                <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
                <div class="active-people">
                <div class="first-user">
                    <div class="row">
                        <div class="col-md-2" >
                            <img  src="images/Emyorganda.png" width="52px" height="52px" alt="Emyorganda" />
                        </div>
                        <div class="col-md-7" >
                            <h5>Emy Organda</h5>
                            <p>Hay , I want to make chall..</p>
                        </div>
                        <div class="col-md-3" >
                            <span class="msgnumber">2</span>
                        </div>
                    </div>
                </div>
                
                 <div class="first-user">
                    <div class="row">
                        <div class="col-md-2" >
                            <img  src="images/Pro.png" width="52px" height="52px" alt="Emyorganda" />
                        </div>
                        <div class="col-md-7" >
                            <h5>Emy Organda</h5>
                            <p>Ok , I accept</p>
                        </div>
                        <div class="col-md-3" >
                            <span class="msgnumber">6</span>
                        </div>
                    </div>
                </div>
                
                 <div class="first-user">
                    <div class="row">
                        <div class="col-md-2" >
                            <img  src="images/Ema.png" width="52px" height="52px" alt="Emyorganda" />
                        </div>
                        <div class="col-md-7" >
                            <h5>Emy Organda</h5>
                            <p>GOOD JOB ^^</p>
                        </div>
                        <div class="col-md-3" >
                            <span class="#"></span>
                        </div>
                    </div>
                </div>
                
                 <div class="first-user">
                    <div class="row">
                        <div class="col-md-2" >
                            <img  src="images/Emynow.png" width="52px" height="52px" alt="Emyorganda" />
                        </div>
                        <div class="col-md-7" >
                            <h5>Emy Organda</h5>
                            <p>Hay , I want to make chall..</p>
                        </div>
                        <div class="col-md-3" >
                            <span class="msgnumber">now</span>
                        </div>
                    </div>
                </div>
                
                 <div class="first-user">
                    <div class="row">
                        <div class="col-md-2" >
                            <img  src="images/Mikle.png" width="52px" height="52px" alt="Emyorganda" />
                        </div>
                        <div class="col-md-7" >
                            <h5>Emy Organda</h5>
                            <p>Hay , I want to make chall..</p>
                        </div>
                        <div class="col-md-3" >
                            <span class="msgnumber">2</span>
                        </div>
                    </div>
                </div>
            </div>
                
            </div>
            <div class="col-md-6">
                <div class="user-name">
                        <h5 class="name"> Emy Organda <img src="images/active.png" alt="online" />   <span>onlie</span> </h5>  
                       
                    </div>
                <div class="chat-content">
                    
                    <div class="user-one">
                        <div class="row">
                            <div class="user-one-img">
                                <div class="col-md-2">
                                    <img  src="images/Emyorganda.png" width="63px" height="63px" alt="Emyorganda" />
                                </div>
                            </div>
                            <div class="user-one-msg">
                                <div class="col-md-10">
                                    <p>HI , I want to challenge u so are
                                    u free these days ?
                                    </p>  
                                </div>
                            </div>                                
                        </div>
                    </div>
                    
                     <div class="user-two">
                        <div class="row">
                            <div class="user-two-msg">
                                <div class="col-md-10">
                                    <p>Hi , soon i'll tell u</p>  
                                </div>
                            </div>  
                            <div class="user-two-img">
                                <div class="col-md-2">
                                    <img  src="images/Emyorganda.png" width="63px" height="63px" alt="Emyorganda" />
                                </div>
                            </div>
                                                          
                        </div>
                    </div>
                    <div class="user-one">
                        <div class="row">
                            <div class="user-one-img">
                                <div class="col-md-2">
                                    <img  src="images/Emyorganda.png" width="63px" height="63px" alt="Emyorganda" />
                                </div>
                            </div>
                            <div class="user-one-msg">
                                <div class="col-md-10">
                                    <p>ok</p>  
                                </div>
                            </div>                                
                        </div>
                    </div>
                    
                    <div class="user-two">
                        <div class="row">
                            <div class="user-two-msg">
                                <div class="col-md-10">
                                    <i class="fa fa-thumbs-up " aria-hidden="true"></i>
 
                                </div>
                            </div>  
                            <div class="user-two-img">
                                <div class="col-md-2">
                                    <img  src="images/Emyorganda.png" width="63px" height="63px" alt="Emyorganda" />
                                </div>
                            </div>
                                                          
                        </div>
                    </div>
                    <div class="user-one">
                        <div class="row">
                            <div class="user-one-img">
                                <div class="col-md-2">
                                    <img  src="images/Emyorganda.png" width="63px" height="63px" alt="Emyorganda" />
                                </div>
                            </div>
                            <div class="user-one-msg">
                                <div class="col-md-10">
                                    <i class="fa fa-thumbs-up " aria-hidden="true"></i> 
                                </div>
                            </div>                                
                        </div>
                    </div>
                    <div class="form-group">
                    <input type="text" class="form-control sent-msg" placeholder="Sent message ..">
                    </div>
                    
            </div>
            </div>
             <div class="col-md-3">
            <div class="user-info text-center">
               
                    <img class="img-responsive center-block" src="images/Emyorganda.png" width="156px" height="156px" alt="#" />
                    <h2>Emy Organda</h2>
                    <h6 class="job">ARTIST/Designer</h6>
                    <div class="info">
                        <div class="container">
                            <div class="row">
                                <div class="location">
                                    <div class="col-md-2">
                                        <i class="fa fa-map-marker " aria-hidden="true"></i>
                                    </div>
                                    <div class="col-md-10">
                                        <h6 class="one">Egypt , mansoura</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="mail">
                                    <div class="col-md-2">
                                        <i class="fa fa-envelope-o " aria-hidden="true"></i>
                                    </div>
                                    <div class="col-md-10">
                                        <h6 class="two">Emyora@gmail.com</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="num-of-challenges">
                                    <div class="col-md-2">
                                         <img class="left" src="images/logo.png" width="24px" height="26px;" alt="logo" />
                                    </div>
                                    <div class="col-md-10">
                                         <h6 class="three">50 challenge</h6>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="shared-challenges">
                                <h5>shared challenges</h5>
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="images/logochallenge20.png" alt="#" />
                                    </div>
                                    <div class="col-md-6">
                                        <img src="images/logochallenge20.png" alt="#" />
                                    </div>
                                      <div class="col-md-6">
                                        <img src="images/lineartchalleng100.png" alt="#" />
                                    </div>
                                    <div class="see-more">
                                        <div class="col-md-6">
                                            <a href="#">
                                                <button class="btn">See more ..</button>
                                                                
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>  
                    </div>
                
                </div>
            </div>
        </div>
            
        </section>
    </article>
</body>
</html>